#search-section ul{
    position: absolute;
    z-index: 100;
}
#search-section ul li{
    padding: 7px;
}

#search-section ul li:hover{
    cursor: pointer;
    background-color: rgb(216, 228, 240);
}

#categories a{
    text-decoration: none;
    color: black;
    border: 4px solid transparent;
}

#categories a:hover{
    border: 4px solid rgba(54, 125, 255, 0.904);
    background-color: white;
}