.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
    visibility: visible;
}

.slideshow li span {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.slideshow li:nth-child(1) div {
    z-index: 1000;
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.slideshow li:nth-child(2) div{
    z-index: 1000;
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation1 36s linear infinite 0s;
    -moz-animation: titleAnimation1 36s linear infinite 0s;
    -o-animation: titleAnimation1 36s linear infinite 0s;
    -ms-animation: titleAnimation1 36s linear infinite 0s;
    animation: titleAnimation1 36s linear infinite 0s;
}
.slideshow li div h3 {
  font-family: "helvetica neue", helvetica;
  text-transform: uppercase;
  font-size: 60px;
  padding: 0;
	color: #fff;
}
.slideshow li:nth-child(1) span { background-image: url(/public/images/sean-pollock-PhYq704ffdA-unsplash.jpg) }

.slideshow li:nth-child(2) span {
    background-image: url(/public/images/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
    background-image: url(/public/images/tomas-robertson-f3o4r5sg2S8-unsplash.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
    background-image: url(/public/images/han-song-R2eEFVjofE0-unsplash.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
    background-image: url(/public/images/daniel-sessler-zA7glxAslug-unsplash.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
    background-image: url(/public/images/chuttersnap-Iboom5tbfvs-unsplash.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 1;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 1;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 1;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 1;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}

@keyframes imageAnimation { 
	0% {
	    opacity: 1;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
	0% {
	    opacity: 1;
	    transform: translateY(100px);
	}
	8% {
	    opacity: 1;
	    transform: translateY(300px);
	}
	
	17% { opacity: 0 }
	
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
	0% {
	    opacity: 1;
	    transform: translateY(100px);
	}
	8% {
	    opacity: 1;
	    transform: translateY(300px);
	}
	
	17% { opacity: 0 }
	
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
	0% {
	    opacity: 1;
	    transform: translateY(100px);
	}
	8% {
	    opacity: 1;
	    transform: translateY(300px);
	}
	
	17% { opacity: 0 }
	
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
	0% {
	    opacity: 1;
	    transform: translateY(100px);
	}
	8% {
	    opacity: 1;
	    transform: translateY(300px);
	}
	
	17% { opacity: 0 }
	
	100% { opacity: 0 }
}

@keyframes titleAnimation { 
	0% {
	    opacity: 1;
	    transform: translateY(100px);
	}
	8% {
	    opacity: 1;
	    transform: translateY(300px);
	}
	
	17% { opacity: 0 }
	
	100% { opacity: 0 }
}



@-webkit-keyframes titleAnimation1 { 
	0% {
	    opacity: 1;
	    transform: translate(300px,300px);
	}
	8% {
	    opacity: 1;
	    transform: translate(100px,100px);
	}
	17% {
	    opacity: 0;
	    transform: scale(1);
	}
	
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1);
	}
	100% { opacity: 0 }
}

@-moz-keyframes titleAnimation1 { 
	0% {
	    opacity: 1;
	    transform: translate(300px,300px);
	}
	8% {
	    opacity: 1;
	    transform: translate(100px,100px);
	}
	17% {
	    opacity: 0;
	    transform: scale(1);
	}
	
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1);
	}
	100% { opacity: 0 }
}

@keyframes titleAnimation1 { 
	0% {
	    opacity: 1;
	    transform: translate(300px,300px);
	}
	8% {
	    opacity: 1;
	    transform: translate(100px,100px);
	}
	17% {
	    opacity: 0;
	    transform: scale(1);
	}
	
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1);
	}
	100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.slideshow li div h3 { font-size: 50px }
}
@media screen and (max-width: 600px) { 
	.slideshow li div h3 { font-size: 30px }
}

/****************************** our-values /  our-services*****************************/
#about-us-hero p{
    font-size: 20px;
}

#our-services{
    background-image: url(/public/images/chuttersnap-Iboom5tbfvs-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#adresse-box a{
    text-decoration: none;
    color: rgb(90, 88, 88);
    font-weight: 600;
}


@media (max-width: 1300px) {
    #our-values p{
        font-size: 14px;
    }
}

@media (max-width: 1190px) {
    #our-values p{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #about-us-hero h1{
        font-size: 30px;
    }

    #about-us-hero p{
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    #our-values p{
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #about-us-hero h1{
        font-size: 25px;
    }

    #about-us-hero p{
        font-size: 17px;
    }

    #flyer-contact h3{
    font-size: 26px;
    }
}

