
#navbarSupportedContent a{
    color: aliceblue;
}

#navbarSupportedContent .nav-item{
    border: 2px solid transparent;
}

#navbarSupportedContent .nav-item:hover,
#navbarSupportedContent .nav-item:focus,
#navbarSupportedContent .nav-item:active{
    
    border: 2px solid #13475a;
    border-radius: 15px;
}

#navbarSupportedContent .nav-item:hover a{
    color: #00a8e6;
}

/*****************************************************/

#mathero{
    height: 100vh;
    width: 100%;
    background-image: url(/public/images/sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#mathero h1{
    margin-top: 20%;
    font-size: 85px;
}

#search-section ul{
    position: absolute;
    z-index: 100;
}
#search-section ul li{
    padding: 7px;
}

#search-section ul li:hover{
    cursor: pointer;
    background-color: rgb(216, 228, 240);
}

#categories a{
    text-decoration: none;
    color: white;
}

#categories h5{
    background-color: rgba(22, 135, 233, 0.486);
    padding: 8px; 
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#categories a:hover h5{
    background-color: rgba(22, 135, 233, 0.952);
    padding: 8px; 
    border-radius: 12px;
    font-weight: bold;
}

#categories .box1{
    background-image: url(/public/images/Entretien_Embauche_Blog.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories .box2{
    background-image: url(/public/images/BARTOfficialApp_ServiceAdvisories-365x207.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories .box3{
    background-image: url(/public/images/SERVICE-FORMATION-2-1030x617.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories .box4{
    background-image: url(/public/images/vente-materiel-professionnel-occasion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories .box5{
    background-image: url(/public/images/achat-vente-rayonnage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories .box6{
    background-image: url(/public/images/14546516.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories .box7{
    background-image: url(/public/images/owners-service_plans-service_and_maintenance_plans-16_9-2500x1406.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#categories .box8{
    background-image: url(/public/images/DSC00137.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.form-control-file{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form-control-file + label{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(192, 192, 192);
    display: inline-block;
    cursor: pointer;
    padding: 30px 60px;
}

.form-control-file:focus + label,
.form-control-file:hover + label{
    background-color: rgb(59, 72, 255);
}

#all-annonces a{
    text-decoration: none;
}

#header-page{
    background-image: url(/public/images/adeolu-eletu-lWVoW8LpcEQ-unsplash0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 1140px) {
    #mathero h1{
        margin-top: 20%;
        font-size: 75px;
    }
}

@media (max-width: 960px) {
    #mathero h1{
        margin-top: 30%;
        font-size: 60px;
    }
}

@media (max-width: 720px) {
    #mathero h1{
        margin-top: 40%;
        font-size: 50px;
    }
}

@media (max-width: 540px) {
    #mathero h1{
        margin-top: 80%;
        font-size: 36px;
    }
}

/****************************** our-values /  our-services*****************************/
#about-us-hero p{
    font-size: 20px;
}

#our-services{
    background-image: url(/public/images/chuttersnap-Iboom5tbfvs-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#adresse-box a{
    text-decoration: none;
    color: rgb(90, 88, 88);
    font-weight: 600;
}


@media (max-width: 1300px) {
    #our-values p{
        font-size: 14px;
    }
}

@media (max-width: 1190px) {
    #our-values p{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #about-us-hero h1{
        font-size: 30px;
    }

    #about-us-hero p{
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    #our-values p{
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #about-us-hero h1{
        font-size: 25px;
    }

    #about-us-hero p{
        font-size: 17px;
    }

    #flyer-contact h3{
    font-size: 26px;
    }
}

